@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

h1 {
    margin-top: 50px;
}

.main-title {
    font-size: 5em;
    margin-top: 200px;
}

.movie-img {
    margin-top: 20px;
    margin-bottom: 20px;
}
